label,p{
    vertical-align: top; 
    display: inline-block;   
    margin: 12px;
    width:25%;
    text-align: right;
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 6px
}

.radio{
    vertical-align: top; 
    display: inline-block;   
    margin: 12px;
    width:20%;
    text-align: right;
}

input[type=radio]{
     width: 10px;
    padding: 12px 20px;
    margin: 6px
    
}
input[type=submit]{
    width: 45%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
}
